.container{
    min-width: 600px;
}
.btn{
    /* background: #43d9be; */
    background: #ffffff;
    color:black;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus{
    outline: none !important;
}
.username{
    font-weight: bold;
}
.time{
    font-size: 0.7em;
    color:#999;
}
.update-mssg{
    text-align: center;
    margin: 20px auto;
}
.input-group-text {
    /* background-color: #e9ecef; */
    background-color: white;
}
.form-control{
    background-color: transparent;
}

#background{
    background-color: #000;
    background-image: url("img/bg.jpg");
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
}
body{
    color: #ffffff;
}