body{
    font-family:    Verdana, Geneva, Arial, sans-serif;
    font-size:      small;
    margin-left: 2.5%
    
}



h1{
    font-family:        "Emblema One", sans-serif;
    font-size:          300%;
    color:              #cc6600;
    border-bottom:      thin dotted #888888;
}

h2{
    color:blue;
    font-size:          130%;
    font-weight:        normal;
}

blockquote{
    font-style:         italic;
}

p{
    font-size: 14px;
    line-height: 1.5;
}